<p id="notice"><%= notice %></p>

<p>
  <strong>Sample date:</strong>
  <%= @sample_date.sample_date %>
</p>

<%= link_to 'Edit', edit_sample_date_path(@sample_date) %> |
<%= link_to 'Back', sample_dates_path %>
